<div class="footer-body">
  <div class="footer-content-1">
    <h3>Address</h3>
    <p>
      Estancia IT Park, Plot no. 140, 151, GST Road, Vallancheri, Chengalpattu <br>
      District, Tamil Nadu - 603202, India Phone : 044 - 67447070 044 - 71817070 <br>
      Fax : 044 67447172
    </p>
  </div>
  <div class="footer-content-4">
    <div id="id-1" class="col-lg-2 mt-4 mb-3" style="margin-right: 70px">
      <a href="https://www.facebook.com" target="_blank"
        ><i class="bi bi-facebook"></i
      ></a>
      <a href="https://www.whatsapp.com" target="_blank"
        ><i class="bi bi-whatsapp"></i
      ></a>
      <a href="https://www.instagram.com" target="_blank"
        ><i class="bi bi-instagram"></i
      ></a>
      <a href="https://www.youtube.com" target="_blank"
        ><i class="bi bi-youtube"></i
      ></a>
    </div>
    <p class="footer-content-3">Designed & Maintened by Anuj Kumar</p>
  </div>
</div>
