.viewheight{
    min-height: 50vh;
}
.login{

    border: solid black 1px;
    width: 40%;
    padding: 60px;
    text-align: center;
    margin-left: 30%;
    margin-top: 5%;
    background-color: lightcyan;
}