<body>
    <div class="Everything">
    <h1>Registration For New Account</h1>
    <hr />
    <p>
      Name:
      <input type="text" name="Name" required placeholder="Enter Full Name" />
    </p>
    <p>
      Email:
      <input
        type="email"
        name="Email"
        required
        placeholder="Enter Email"
      />
    </p>
    <p>
      DOB:
      <input type="date" name="date" required placeholder="Enter DOB" />
    </p>
    <p>
      Aadhar card:
      <input type="text" name="aadhar" id="aadhar" placeholder="Enter Aadhar Card No">
    </p>
    <p>
        Pan Card:
        <input type="text" name="pan" id="pan" placeholder="Enter PAN Card No">
      </p>
      <p>
        Address:
        <textarea
          name="Details"
          id=""
          cols="80"
          rows="8"
          required
          placeholder="Type Address"
        ></textarea>
      </p>
    
      <hr>
      <input type="submit" name="Submit" />
    
    </div>
  </body>