 <div class="container">
  <div class="box">
    <p></p>
    <h2>Our Facilities</h2>
    <ul>
      <li>Chaque Payments</li>
      <li>Consultancy</li>
      <li>NEFT</li>
      <li>NRI</li>
      <li>Investment</li>
    </ul>
  </div>
  <div class="box">
    <p></p>
    <h2>Loan details</h2>
    <ul>
        <li>Home Loan</li>
        <li>Education Loan</li>
        <li>Personal Loan</li>
        <li>Car Loan</li>
    </ul>
  </div>

  <div class="box">
    <h2>Services</h2>
     <ul>
        <li>Mobile Banking</li>
        <li>Debit & Credit Card</li>
        <li>Internet Banking</li>
        <li>Update Aadhar</li>
     </ul>
  </div>

  <div class="box">
    
    <h2>News</h2>
<marquee behavior="#" direction="#">
    <ul>
        <li>Open account with Zero Balance</li>
        <li>Get car Loan instant</li>
        <li>Every Second & Fourth Saturday Closed</li>
        <li>Home Loan on Interest Rate 10% only </li>
    </ul>
</marquee>
  </div>
</div>
