<div class="container">
  <div class="box">
    <p></p>
    <h2>Our Facilities</h2>
    <ul>
      <li>jhhgfy</li>
      <li>jhhgfy</li>
      <li>jhhgfy</li>
      <li>jhhgfy</li>
      <li>jhhgfy</li>
    </ul>
  </div>
  <div class="box">
    <p></p>
    <h2>Loan details</h2>
    <ul>
        <li>hffgdttdd</li>
        <li>hffgdttdd</li>
        <li>hffgdttdd</li>
        <li>hffgdttdd</li>
    </ul>
  </div>

  <div class="box">
    <h2>Services</h2>
     <ul>
        <li>ffytryyuyrtr</li>
        <li>ffytryyuyrtr</li>
        <li>ffytryyuyrtr</li>
        <li>ffytryyuyrtr</li>
     </ul>
  </div>

  <div class="box">
    
    <h2>News</h2>
<marquee behavior="#" direction="#">
    <ul>
        <li>asjkdalkalasda</li>
        <li>asjkdalkalasda</li>
        <li>asjkdalkalasda</li>
        <li>asjkdalkalasda</li>
    </ul>
</marquee>
  </div>
</div>
